body {
  background-color: #fff8dc; /* Color crema */
  background-image: radial-gradient(white 2px, transparent 2px); /* Crea un patrón de puntos blancos */
  background-size: 20px 20px; /* Tamaño del patrón */
  font-family: Arial /* Cambia la fuente a Arial si está disponible, de lo contrario, usa una fuente genérica sans-serif */
}

/* Estilo para el área de navegación */
nav {
  background-color: #333; /* Color de fondo */
  padding: 20px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
}

/* Estilo para la lista de navegación */
nav ul {
  list-style-type: none; /* Elimina los estilos de viñetas */
  margin: 0;
  padding: 0;
}

/* Estilo para los elementos de la lista */
nav ul li {
  display: inline-block; /* Muestra los elementos de la lista en línea */
  margin-right: 20px; /* Espaciado entre elementos */
}

/* Estilo para los enlaces */
nav ul li a {
  color: #fff; /* Color del texto */
  text-decoration: none; /* Elimina subrayado */
  font-size: 18px; /* Tamaño de fuente */
  padding: 10px 15px; /* Espaciado interno */
  border-radius: 5px; /* Borde redondeado */
}

/* Estilo al pasar el ratón sobre los enlaces */
nav ul li a:hover {
  background-color: #555; /* Cambio de color al pasar el ratón */
}


h1 {
    color: green;
    text-align: center;
    font-size: 5.0em;
  }
  
p {
    font-family: arial;
    font-size: 20px;
  }
li {
    font-family: arial;
    font-size: 20px;
}

  .info-contacto {
    position:sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8EE53F;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-contacto div {
    font-size: 1.8em;
    margin-right: 20px; /* Agrega espacio entre los elementos */
    color: #008000;
}

h3{
  font-size: 2.0em;   
   margin-bottom: 0; /* Eliminar margen inferior */
}

h2{
  font-size: 3.0em;   
   margin-bottom: 0; /* Eliminar margen inferior */
}


.logo {
  background-color: white; 
  text-align: center;
  padding: 20px; 
}
